<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add song</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <h2>Name</h2>
        <input type="text" name="name" required />
        <h2>The song itself</h2>
        <input type="file" accept="music/*" name="song" required />
        <button type="submit">Send</button>
    </form>
</body>
</html>