<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musician</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <a href="/add_song">Add song</a>
    {% if songs %}
        <h2>Songs</h2>
        {% for song in songs %}
            <div id="{{song.pk}}">
                <h2>{{song.name}}</h2>
                <audio controls src="{{song.song.url}}">
            </div>
        {% endfor %}
    {% else %}
        <p>There's no songs</p>
    {% endif %}
</body>
</html>