<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if song %}
        <title>Song</title>
    {% else %}
        <title>Error</title>
    {% endif %}
</head>
<body>
    <a href="/">Back</a>
    {% if song %}
        <h2>{{song.name}}</h2>
        <audio controls src="{{song.song.url}}">
        <a href="{{song.song.url}}">Download song</a>
    {% else %}
        <p>There's no that song</p>
    {% endif %}
</body>
</html>